<%- partial('layout/headlayout.ejs') %>
    <header style="background-image: url('img/header-bg3.jpg')">
        <div class="intro-content">
            <img src="img/di-main-bg1.png" class="img-responsive img-centered" alt="">
            <div class="brand-name">한국재활필라테스협회</div>
            <div class="brand-name-subtext">DREAMPILATES Since&nbsp;<span class="count">2016</span></div>
        </div>
        <div class="scroll-down">
            <a class="btn page-scroll" href="#about"><i class="fa fa-angle-down fa-fw"></i></a>
        </div>
    </header>
	<section id='about'>
		<div class='container text-center wow fadeIn animated'>
			<div class='middle-space-box'>
				<h2>EDUCATION</h2>
				<hr class='colorblue'>
			</div>
			<div class='middle-space-box clearfix-after'>
				<div class='col-1'>
					<img id="slideImgL" src='/img/imgA.jpg' />
				</div>
				<div class='contents-box'>
					<p class='contents'><b>주중반 [ 화/목 ]</b></p>
                    <p class='contents-small'><span>개강일 : 2016년 07월 26일<span></p>
                    <p class='contents-small'>교육기간 : 2016년 07월 26일 - 2016년 10월 27일 </p>
					<p class='contents-small'>교육시간 : 10:00 - 13:00</p>
                    <p class='contents-small'>매주 금요일 10:00 - 13:00 개인운동 및 질의응답 개인과제</p>
                    <p class='contents-small'>* 14주 종료일은 상황에 따라 변동 될 수 있음</p>
					<button class='btnA'>등록하기</button>
				</div>
			</div>
            <div class='middle-space-box clearfix-after'>
                <div class='col-1'>
                    <img id="slideImgL" src='/img/imgB.jpg' />
                </div>
                <div class='contents-box'>
                    <p class='contents'><b>주중반 [ 월/수 ]</b></p>
                    <p class='contents-small'><span>개강일 : 2016년 08월 22일<span></p>
                    <p class='contents-small'>교육기간 : 2016년 08월 22일 - 2016년 11월 23일</p>
                    <p class='contents-small'>교육시간 : 10:00 - 13:00</p>
                    <p class='contents-small'>매주 금요일 10:00 - 13:00 개인운동 및 질의응답 개인과제</p>
                    <p class='contents-small'>* 14주 종료일은 상황에 따라 변동 될 수 있음</p>
                    <button class='btnA'>등록하기</button>
                </div>
            </div>
            <div class='middle-space-box clearfix-after'>
                <div class='col-1'>
                    <img id="slideImgL" src='/img/imgC.jpg' />
                </div>
                <div class='contents-box'>
                    <p class='contents'><b>주말반 [ 토요일 ]</b></p>
                    <p class='contents-small'><span>개강일 : 2016년 09월 24일<span></p>
                    <p class='contents-small'>교육기간 : 2016년 09월 24일 - 2016년 12월 24일</p>
                    <p class='contents-small'>교육시간 : 14:00 - 20:00</p>
                    <p class='contents-small'>매주 금요일 10:00 - 13:00 개인운동 및 질의응답 개인과제</p>
                    <p class='contents-small'>* 14주 종료일은 상황에 따라 변동 될 수 있음</p>
                    <button class='btnA'>등록하기</button>
                </div>
            </div>
		</div>
	</section>
    <a href="/" class="btn btn-block btn-full-width">신청하기</a>
    <footer class="footer" style="background-image: url('img/ex-img/bg-footer1.jpg')">
        <div class="container text-center">
            <div class="row">
                <div class="col-md-4 contact-details">
                    <h4><i class="fa fa-phone"></i> Call</h4>
                    <p>Tel. 02-3667-9682<br />사업자번호. 762-17-00071</p>
                </div>
                <div class="col-md-4 contact-details">
                    <h4><i class="fa fa-map-marker"></i> Visit</h4>
                    <p>서울시 영등포구 선유로 <br />63 동신타워 6층 드림필라테스</p>
                </div>
                <div class="col-md-4 contact-details">
                    <h4><i class="fa fa-envelope"></i> Email</h4>
                    <p><a href="mailto:mail@example.com">dream_pilates@naver.co.kr</a>
                    </p>
                </div>
            </div>
            <div class="row social">
                <div class="col-lg-12">
                    <ul class="list-inline">
                        <li><a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row copyright">
                <div class="col-lg-12">
                    <p class="small">&copy; Copyright ⓒ 2016 DREAM Pilates. All right reserved. </p>
                </div>
            </div>
        </div>
    </footer>
    <!-- Plugin Scripts -->
    <script src="js/plugins/jquery.easing.min.js"></script>
    <script src="js/plugins/wow/wow.min.js"></script>
    <script src="js/plugins/jqBootstrapValidation.js"></script>
    <!-- visual Scripts -->
    <script src="js/visual.js"></script>
    <script src="js/counter.js"></script>
    <script src="js/plugins/cbpAnimatedHeader.js"></script>
