<!DOCTYPE html>
<html>
  <head>
  <% include ../layout/header.ejs %>
  <script type='text/javascript' src='/js/login.js'></script>
  </head>
  <body>
  <% include ../layout/nav.ejs %>
	<header>
		<div class='searchbox'>
			<div class='box-shape'>
				<i class="fa fa-sign-in" aria-hidden="true"></i>
				<h1 class='main-title'>log_In</h1>
				<h2 class='main-subtitle'> 진행을 위한 로그인이 필요합니다.</h2>
				<div class='login-input-box'>
					<input type='text'id='user_input' class='login id' placeholder="아이디" onkeydown="if(event.keyCode == 13){$('#login-btn').click();}" />
					<input type='password'id='password_input' class='login password'  placeholder="비밀번호" onkeydown="if(event.keyCode == 13){$('#login-btn').click();}" />
				</div>
				<button id='login-btn'>로그인</button>
			</div>
		</div>
	</header>
  </body>
</html>

