<div id='top-container'>
  <nav id='top-space' >
      <ul id='menu' class='clearfix-after'>
          <li class='menu-cell'><a class='menu' href='/logout_user' style='color:#666;'>Logout</a></li>
      </ul>
  </nav>
</div>